<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684418615324-vrk9g10qg4n6g3m1bqhgogeelcos53u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684418615324-vrk9g10qg4n6g3m1bqhgogeelcos53u9</string>
	<key>API_KEY</key>
	<string>AIzaSyAVmwLqR65xVYk0xU3XDxJPZFqTCnN4Msg</string>
	<key>GCM_SENDER_ID</key>
	<string>684418615324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-fbf37</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-fbf37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684418615324:ios:9e8eaf01db54b18f8237d9</string>
</dict>
</plist>